@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  ul,
  ol {
    list-style: revert;
    padding: revert;
  }
}

.facil {
  background-color: rgba(84, 128, 100, 0.65);
  color: #EEF3ED;
}

.media {
  background-color: rgba(204, 120, 47, 0.65);
  color: #F8ECDF;
}

.dificil {
  background-color: rgba(196, 85, 77, 0.65);
  color: #FAECEC;
}

.about {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.about::after,
.about::before {
  content: '';
  flex: 1 1 auto;
  margin: 1rem;
  border-bottom: solid 1px #00000058;
}