.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 31.25rem 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.gridTitle {
  grid-column: span 2;
  margin-bottom: 2rem;
}

.gridAuthor {
  grid-column: span 1;
}